.boxy1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding: 0;
    gap: 1.5vw;
    margin-top: -5vw;
    margin-bottom: 5vh;
}

.box{
    background-color: #19191c;
    color: white;
    width: 18vw;
    aspect-ratio: 1/1;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 7%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.box h3{
    color: #00d9ff;
}


/*filament*/
.filament-nadpis{
    margin-left: 5vw;
    color: white;
}

.filament{
    margin: auto;
    background-color: #19191c;
    color: white;
    width: 90vw;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    gap: 4vw;
    margin-bottom: 2vw;
    padding: 2vw;
}

.filament-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55vw;
    text-align: justify;
}

.filament-text h2{
    color: rgb(0, 217, 255);
}

.yoda{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
}

.no1{
    width: 15vw;
}

.boxy2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding: 0;
    gap: 1.5vw;
    margin-bottom: 5vw;
}



/*resin*/
.resin-nadpis{
    margin-left: 5vw;
    color: white;
}

.resin{
    margin: auto;
    background-color: #19191c;
    color: white;
    width: 90vw;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    gap: 4vw;
    margin-bottom: 2vw;
    padding: 2vw;
}

.resin-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55vw;
    text-align: justify;
}

.resin-text h2{
    color: rgb(0, 217, 255);
}

.groot{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
}

.no2{
    height: 23vw;
}

.boxy3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding: 0;
    gap: 1.5vw;
    margin-bottom: 5vw;
}


@media (min-width: 401px) and (max-width: 800px) {
    .boxy1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        gap: 2vw;
    }

    .boxy2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        gap: 2vw;
    }

    .boxy3{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        gap: 2vw;
    }

    .box{
        width: 32.4vw;
        border-radius: 3.6vw;
        padding-left: 3.6vw;
        padding-right: 3.6vw;
        padding-top: 3.6vw;
        padding-bottom: 3.6vw;
    }

    .filament-nadpis{
        margin-left: 9.4vw;
    }

    .filament{
        flex-direction: column-reverse;
        height: fit-content;
        width: 81.2vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        padding-left: 0;
        padding-right: 0;
    }

    .filament-text{
        width: 65vw;
    }

    .yoda{
        flex-direction: row;
        gap: 5vw;
    }

    .no1{
        width: 25vw;
    }

    .resin-nadpis{
        margin-left: 9.4vw;
    }

    .resin{
        flex-direction: column;
        height: fit-content;
        width: 81.2vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        padding-left: 0;
        padding-right: 0;
    }

    .resin-text{
        width: 65vw;
    }

    .groot{
        flex-direction: row;
        gap: 5vw;
    }

    .no2{
        width: 30vw;
        height: auto;
    }
    
}

@media (max-width: 400px){
    .boxy1{
        display: flex;
        flex-direction: column;
        gap: 5vw;
        margin-top: -10vw;
    }

    .boxy2{
        display: flex;
        flex-direction: column;
        gap: 5vw;
    }

    .boxy3{
        display: flex;
        flex-direction: column;
        gap: 5vw;
    }

    .box{
        width: 75vw;
    }

    .yoda{
        flex-direction: column;
        gap: 5vw;
    }

    .groot{
        flex-direction: column;
        min-width: 0px;
        width: auto;
        gap: 5vw;
    }

    .filament{
        flex-direction: column-reverse;
        height: fit-content;
        width: 75vw;
        padding-top: 6vw;
        padding-bottom: 6vw;
        border-radius: 5vw;
        margin-bottom: 5vw;
    }

    .filament-text{
        text-align: center;
    }

    .resin-text{
        text-align: center;
    }

    .resin{
        flex-direction: column;
        height: fit-content;
        width: 75vw;
        padding-top: 6vw;
        padding-bottom: 6vw;
        border-radius: 5vw;
        margin-bottom: 5vw;
    }

    .no1{
        width: 40vw;
    }

    .no2{
        width: 40vw;
        height: auto;
    }

    .filament-nadpis{
        margin-left: 10.4vw;
    }

    .resin-nadpis{
        margin-left: 10.4vw;
    }
}