.boxy1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding: 0;
    gap: 1.5vw;
    margin-bottom: 5vh;
}

.box{
    background-color: #19191c;
    color: white;
    width: 18vw;
    aspect-ratio: 1/1;
    padding-left: 2vw;
    padding-right: 2vw;
<<<<<<< Updated upstream
    padding-top: 2vh;
    padding-bottom: 2vh;
=======
    padding-top: 2vw;
    padding-bottom: 2vw;
>>>>>>> Stashed changes
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
<<<<<<< Updated upstream
    border-radius: 30px;
    text-align: justify;
=======
    border-radius: 2vw;
    text-align: center;
>>>>>>> Stashed changes
}

.box h3{
    color: rgb(0, 217, 255);
}


/*filament*/
.filament-nadpis{
    margin-left: 5vw;
    color: white;
}

.filament{
    margin: auto;
    background-color: #19191c;
    color: white;
    width: 90vw;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap: 50px;
    margin-bottom: 20px;
}

.filament-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 65%;
    text-align: justify;
}

.filament-text h2{
    color: rgb(0, 217, 255);
}

.yoda{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.no1{
    width: 15vw;
}

.boxy2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    width: 90vw;
    margin: auto;
    padding: 0;
    gap: 1.5vw;
    margin-bottom: 5vh;
}



/*resin*/
.resin-nadpis{
    margin-left: 5vw;
    color: white;
}

.resin{
    margin: auto;
    background-color: #19191c;
    color: white;
    width: 90vw;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap: 50px;
    margin-bottom: 20px;
}

.resin-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
    text-align: justify;
}

.resin-text h2{
    color: rgb(0, 217, 255);
}

.groot{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.no2{
    height: 23vw;
}

.boxy3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    width: 90vw;
    margin: auto;
    padding: 0;
    gap: 1.5vw;
    margin-bottom: 5vh;
}

<<<<<<< Updated upstream
@media (max-width: 500px) {
    
}

@media (max-width: 600px) {
    .boxy1{
        margin-top: 12vh;
        position: relative;
        width: max-content;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
        justify-content: center;
    }
    .boxy2{
        position: relative;
        width: max-content;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
        justify-content: center;
    }
    .boxy3{
        position: relative;
        width: max-content;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
        justify-content: center;
    }

    .box{
        width: 100%;
        max-width: 220px;
        aspect-ratio: 1/1;
        box-sizing: border-box;
        text-align: center;
    }

    .filament-nadpis{
        margin-left: 10.8vw;
    }

    .filament{
        flex-direction: column-reverse;
        width: 78.35vw;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 30px;
        gap: 10px;
    }

    .filament-text{
        width: 85%;
    }

    .yoda{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 55%;
    }

    .no1{
        width: 25vw;
    }

    .resin-nadpis{
        margin-left: 10.8vw;
    }

    .resin{
        flex-direction: column;
        width: 78.35vw;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 30px;
        gap: 10px;
    }

    .resin-text{
        width: 80%;
    }

    .groot{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    .no2{
        width: 30vw;
        height: auto;
    }


}

@media (min-width: 601px) and (max-width: 1100){
    .boxy1{
        margin-top: 12vh;
        position: relative;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
    }
    .boxy2{
        position: relative;
        width: max-content;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-content: center;
    }
    .boxy3{
        position: relative;
        width: max-content;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-content: center;
    }

    .box{
        width: 100%;
        max-width: 220px;
        aspect-ratio: 1/1;
        box-sizing: border-box;
        text-align: center;
    }

    .filament-nadpis{
        margin-left: 10.8vw;
    }

    .filament{
        flex-direction: column-reverse;
        width: 78.35vw;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 30px;
        gap: 10px;
    }

    .filament-text{
        width: 85%;
    }

    .yoda{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 55%;
    }

    .no1{
        width: 25vw;
    }

    .resin-nadpis{
        margin-left: 10.8vw;
    }

    .resin{
        flex-direction: column;
        width: 78.35vw;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 30px;
        gap: 10px;
    }

    .resin-text{
        width: 80%;
    }

    .groot{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    .no2{
        width: 30vw;
        height: auto;
    }

}

/*tablet*/
@media (min-width: 1101px) and (max-width: 1440px) {
    .box{
        text-align: center;
        width: 17vw;
        aspect-ratio: 1/1;
    }
}
=======
>>>>>>> Stashed changes
