footer{
    width: 100vw;
    color: white;
    background-color: #19191c;
    height: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 3vw;
}

ul{
    margin: 0;
    padding: 0;
    width: fit-content;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

li{
    width: 10vw;
    font-size: 1vw;
    width: fit-content;
}

li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.ficons{
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: 100vw;
}
.icon{
    background-color: white;
    width: 2vw;
    aspect-ratio: 1/1;
    border-radius: 2vw;
    padding: 0.6vw;
}