footer{
    width: 100%;
    color: white;
    background-color: #19191c;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 50px;
}

ul{
    margin: 0;
    padding: 0;
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

li{
    width: 10%;
    font-size: 0.8rem;
}

li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.ficons{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.icon{
    background-color: white;
    width: 2vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 6px;
}