footer{
    width: 100vw;
    color: white;
    background-color: #19191c;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3vw;
    gap: 2vw;
}

ul{
    margin: 0;
    padding: 0;
    width: fit-content;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

li{
    font-size: 1vw;
    width: fit-content;
}

li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.ficons{
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: 100vw;
}
.icon{
    background-color: white;
    width: 2vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    padding: 0.6vw;
}

.copyright{
    font-size: 0.7vw;
}


@media (min-width: 501px) and (max-width: 700px){
    li{
        font-size: 1.8vw;
    }

    .copyright{
        font-size: 1.4vw;
    }

    .icon{
        width: 4vw;
    }
}