header{
    background-color: #19191c;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    height: fit-content;
    width: 100vw;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

#tisk{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4vw;
}

#tisk i {
    font-size: 0.8vw;
    color: white;
    transition: color 0.3s ease;
}

#tisk:hover i {
    color: rgb(0, 217, 255);
}

.dropdown-links {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #292932;
    min-width: 15vw;
    border-radius: 1vw;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    z-index: 10;
}

.dropdown-links a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-links a:hover {
    background-color: #40404a;
}

/*aktivni*/
.dropdown-links.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}


.nazev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.logo{
    width: 3vw;
}

nav{
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: space-evenly;
    width: fit-content;
}

@media (min-width: 401px) and (max-width: 800px){
    #tisk i{
        font-size: 1.5vw;
    }

    header{
        height: 10vw;
    }

    .logo{
        width: 5vw;
    }
}

@media (max-width: 500px){
    .nazev{
        visibility: hidden;
    }

    nav{
        width: 100%;
        flex-direction: column;
    }
}