header{
    background-color: #19191c;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    height: 5.2vw;
    width: 100vw;
}

.nazev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.logo{
    width: 3.5vw;
}

nav{
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: space-evenly;
    width: fit-content;
}
