header{
    background-color: #19191c;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    height: 70px;
    width: 100%;
}

.nazev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo{
    width: 50px;
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
    width: 30%;
}

@media (max-width: 600px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 10px;
        gap: 10px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }
    .nazev-text{
        display: none;
    }
    .logo{
        width: 30px;
    }
}
