body{
    color: white;
}

.formular {
    background-color: #19191c;
    padding: 2rem;
    border-radius: 1rem;
    width: 50vw;
    margin: auto;
}

.form-nadpis {
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: white;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

select,
textarea,
input{
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 0.1vw solid #ccc;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-family: inherit;
    box-sizing: border-box;
    background-color: #212121;
}

textarea {
    resize: vertical;
}

button {
    background-color: #ff5100;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: white;
    color: #ff5100;
    transition: background-color 0.3s ease;
}

.hidden {
    display: none;
}