.hero{
    background-image: url("images/resin.jpg");
    width: 100%;
    height: auto; 
    max-height: 40vw; 
    object-fit: cover; /*aby se pozadi nenatahovalo*/
    display: block; /*odstrani mezery pod pozadim*/
    margin-bottom: -10vw;
}

.fa-arrow-left {
    position: absolute;
    top: 2vw;
    margin-left: 5vw;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border-color: transparent;
    transition: 0.3s;
}

.fa-arrow-left:hover {
    background-color: white;
    color: black;
    border-color: white;
}

body{
    font-family: "Jetbrains Mono", serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: white;
}

.gap-pozadi{
    width: 100%;
    background-color: blue;
    height: 70vh;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #00d9ff;
    transition: 0.3s;
}

button{
    font-family: "Jetbrains Mono", serif;
}

.button-primary{
    background-color: rgb(255, 81, 0);
    font-size: 0.9vw;
    color: white;
    width: fit-content;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    height: 2.4vw;
    cursor: pointer;
    border-radius: 1.2vw;
    border-style: none;
    outline: 0.15vw solid white;
    outline-offset: 0.2vw;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
}

.button-primary:hover{
    background-color: white;
    color: rgb(255, 81, 0);
    outline: 0.15vw solid rgb(255, 81, 0);
    outline-offset: 0.4vw;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s; 
}

.button-secondary{
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 0.9vw;
    color: white;
    width: fit-content;
    height: 2.4vw;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    border-radius: 1.2vw;
    border-style: none;
    outline: 0.15vw solid white;
    outline-offset: 0.2vw;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s;
}

.button-secondary:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(255, 81, 0);
    outline: 0.15vw solid white;
    outline-offset: 0.4vw;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s; 
}

.hero-buttons{
    display: flex;
    gap: 1.5vw;
}

.button-other{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    color: white;
    font-size: 0.9vw;
    font-family: "JetBrains Mono", serif;
    transition: color 0.3s;
}

.button-other:hover{
    color: rgb(0, 217, 255);
    transition: 0.3s;
}

h1{
    font-size: 2vw;
}

h2{
    font-size: 1.4vw;
}

h3{
    font-size: 1.2vw;
}

p{
    font-size: 0.95vw;
}

/*text+boxy*/
.nadpis{
    margin-left: 5vw;
}

.box{
    background-color: #19191c;
    color: white;
    width: 18vw;
    aspect-ratio: 1/1;
    padding: 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2vw;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.box h3{
    color: #00d9ff;
}

.boxy1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding: 0;
    gap: 1.5vw;
    margin-bottom: 5vh;
}

.fa-arrow-right {
    position: absolute;
    bottom: 1vw;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: transparent;
    color: white;
    border-color: transparent;
    outline: white;
    transition: 0.3s;
}

.fa-arrow-right:hover {
    position: absolute;
    bottom: 1vw;
    background-color: white;
    color: black;
    border-color: white;
}

.ac-nadpis{
    margin-left: 5vw;
    color: white;
}

.ac{
    margin: auto;
    background-color: #19191c;
    color: white;
    width: 90vw;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    gap: 4vw;
    margin-bottom: 2vw;
}

.ac-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55vw;
    text-align: justify;
}

.ac-text h2{
    color: rgb(0, 217, 255);
}

.ac-img{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
}

.resin-obrazek{
    width: 18vw;
}


.bd-nadpis{
    margin-left: 5vw;
    color: white;
}

.bd{
    margin: auto;
    background-color: #19191c;
    color: white;
    width: 90vw;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    gap: 4vw;
    margin-bottom: 2vw;
}

.bd-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55vw;
    text-align: justify;
}

.bd-text h2{
    color: rgb(0, 217, 255);
}

.bd-img{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
}

footer{
    width: 100vw;
    color: white;
    background-color: #19191c;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3vw;
    gap: 2vw;
}

ul{
    margin: 0;
    padding: 0;
    width: fit-content;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

li{
    font-size: 1vw;
    width: fit-content;
}

li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.ficons{
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: 100vw;
}
.icon{
    background-color: white;
    width: 2vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    padding: 0.6vw;
}

.copyright{
    font-size: 0.7vw;
}


@media (min-width: 501px) and (max-width: 700px) {
    h1{
        font-size: 2.8vw;
        font-weight: bold;
    }
    
    h2{
        font-size: 2.2vw;
    }
    
    h3{
        font-size: 2vw;
    }
    
    p{
        font-size: 1.8vw;
    }

    .button-primary{
        font-size: 1.9vw;
    }

    .button-secondary{
        font-size: 1.9vw;
    }

    .button-other{
        font-size: 1.9vw;
    }

    .hero-text{
        top: 20vw;
        margin-left: 9.4vw;
        width: 60%;
    }

    .hero-text h1{
        font-size: 3.4vw;
    }

    .hero-text p{
        font-size: 2.2vw;
    }

    .button-primary{
        height: 3.4vw;
        border-radius: 1.7vw;
        padding-left: 0.8vw;
        padding-right: 0.8vw;
    }

    .button-secondary{
        height: 3.4vw;
        border-radius: 1.7vw;
    }

    .boxy1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        gap: 2vw;
    }

    .boxy2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        gap: 2vw;
    }

    .boxy3{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        gap: 2vw;
    }

    .box{
        width: 32.4vw;
        border-radius: 3.6vw;
        padding-left: 3.6vw;
        padding-right: 3.6vw;
        padding-top: 3.6vw;
        padding-bottom: 3.6vw;
    }

    .ac-nadpis{
        margin-left: 9.4vw;
    }

    .ac{
        flex-direction: column-reverse;
        height: fit-content;
        width: 81.2vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
    }

    .ac-text{
        width: 65vw;
    }

    .ac-img{
        flex-direction: row;
        gap: 1vw;
    }

    .resin-obrazek{
        width: 30vw;
    }

    .bd-nadpis{
        margin-left: 9.4vw;
    }

    .bd{
        flex-direction: column;
        height: fit-content;
        width: 81.2vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
    }

    .bd-text{
        width: 65vw;
    }

    .bd-img{
        flex-direction: row;
        gap: 1vw;
    }

    li{
        font-size: 1.8vw;
    }

    .copyright{
        font-size: 1.4vw;
    }

    .icon{
        width: 4vw;
    }
}

@media (max-width: 500px){
    h1{
        font-size: 7vw;
        font-weight: bold;
    }
    
    h2{
        font-size: 5vw;
    }
    
    h3{
        font-size: 4.8vw;
    }
    
    p{
        font-size: 4vw;
    }

    .hero-text{
        top: 70vw;
        margin-left: 6.4vw;
        width: 80%;
    }

    .button-primary{
        height: 8vw;
        border-radius: 4vw;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        font-size: 4vw;
        outline-offset: 0.7vw;
        outline-width: 0.5vw;
    }

    .button-primary:hover{
        outline-offset: 1.4vw;
    }

    .button-secondary{
        height: 8vw;
        border-radius: 4vw;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        font-size: 4vw;
        outline-offset: 0.7vw;
        outline-width: 0.5vw;
    }

    .button-secondary:hover{
        outline-offset: 1.4vw;
    }

    .button-other{
        font-size: 4vw;
    }

    .hero-buttons{
        gap: 4vw;
    }

    
}