.hero-resin {
    background-image: url("images/resin.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 45vw;
}

.ac-nadpis, .bd-nadpis {
    margin-left: 5vw;
    color: white;
}

.resin-obrazek {
    width: 18vw;
}

@media (min-width: 401px) and (max-width: 800px) {
    .hero-resin{
        background-image: url("images/resin-mobil.png");
        height: 100vw;
    }
}

@media (max-width: 400px){
    .hero-resin{
        background-image: url("images/resin-mobil.png");
        height: 100vw;
    }
    
    .resin-obrazek {
        width: 40vw;
    }
}