body{
    font-family: "Jetbrains Mono", serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: white;
}

.gap-pozadi{
    width: 100%;
    background-color: blue;
    height: 70vh;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #00d9ff;
    transition: 0.3s;
}

button{
    font-family: "Jetbrains Mono", serif;
}

.button1{
    background-color: rgb(255, 81, 0);
    font-size: 1.1vw;
    color: white;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 2.8vw;
    cursor: pointer;
    border-radius: 1.4vw;
    border-style: none;
    outline: 0.15vw solid white;
    outline-offset: 0.2vw;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s;
}

.button1:hover{
    background-color: white;
    color: rgb(255, 81, 0);
    outline: 0.15vw solid rgb(255, 81, 0);
    outline-offset: 0.4vw;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s; 
}

.button2{
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.1vw;
    color: white;
    width: fit-content;
    height: 2.8vw;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    border-radius: 1.4vw;
    border-style: none;
    outline: 0.15vw solid white;
    outline-offset: 0.2vw;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s;
}

.button2:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(255, 81, 0);
    outline: 0.15vw solid white;
    outline-offset: 0.4vw;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s; 
}

.buttons{
    display: flex;
    gap: 1.5vw;
}

.button3{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    color: white;
    font-size: 1.1vw;
    font-family: "JetBrains Mono", serif;
    transition: color 0.3s;
}

.button3:hover{
    color: rgb(0, 217, 255);
    transition: 0.3s;
}

h1{
    font-size: 2.4vw;
}

h2{
    font-size: 1.8vw;
}

h3{
    font-size: 1.2vw;
}

p{
    font-size: 1vw;
}

/*text+boxy*/
.nadpis{
    margin-left: 5vw;
}

.box{
    background-color: #19191c;
    color: white;
    width: 18vw;
    aspect-ratio: 1/1;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2vw;
    text-align: center;
}

.boxy1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding: 0;
    gap: 1.5vw;
    margin-bottom: 5vh;
}

@media (max-width: 700px) {
    h1{
        font-size: 2.8vw;
    }
    
    h2{
        font-size: 2.2vw;
    }
    
    h3{
        font-size: 2vw;
    }
    
    p{
        font-size: 1.8vw;
    }

    .button1{
        font-size: 1.9vw;
    }

    .button2{
        font-size: 1.9vw;
    }

    .button3{
        font-size: 1.9vw;
    }

    .hero{

    }
}