body{
    font-family: "Jetbrains Mono", serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #212121;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #00d9ff;
    transition: 0.3s;
}

.hero{
    background-image: url("images/main.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 45vw;
}

.neoprint-title{
    margin-bottom: 0.5vw;
}

.neoprint-description{
    margin-top: 0.5vw;
}

.hero-text {
    position: absolute;
    top: 23vw;
    width: 25vw;
    margin-left: 5vw;
    color: white;
}

button{
    font-family: "Jetbrains Mono", serif;
}

.button-primary{
    background-color: rgb(255, 81, 0);
    font-size: 0.9vw;
    color: white;
    width: fit-content;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    height: 2.4vw;
    cursor: pointer;
    border-radius: 1.2vw;
    border-style: none;
    outline: 0.15vw solid white;
    outline-offset: 0.2vw;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
}

.button-primary:hover{
    background-color: white;
    color: rgb(255, 81, 0);
    outline: 0.15vw solid rgb(255, 81, 0);
    outline-offset: 0.4vw;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s; 
}

.button-secondary{
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 0.9vw;
    color: white;
    width: fit-content;
    height: 2.4vw;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    border-radius: 1.2vw;
    border-style: none;
    outline: 0.15vw solid white;
    outline-offset: 0.2vw;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s;
}

.button-secondary:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(255, 81, 0);
    outline: 0.15vw solid white;
    outline-offset: 0.4vw;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s; 
}

.hero-buttons{
    display: flex;
    gap: 1.5vw;
}

.button-other{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    color: white;
    font-size: 0.9vw;
    font-family: "JetBrains Mono", serif;
    transition: color 0.3s;
}

.button-other:hover{
    color: rgb(0, 217, 255);
    transition: 0.3s;
}

h1{
    font-size: 2vw;
    font-weight: bold;
}

h2{
    font-size: 1.4vw;
}

h3{
    font-size: 1.2vw;
}

p{
    font-size: 0.95vw;
}

@media (min-width: 401px) and (max-width: 800px) {
    h1{
        font-size: 2.8vw;
        font-weight: bold;
    }
    
    h2{
        font-size: 2.2vw;
    }
    
    h3{
        font-size: 2vw;
    }
    
    p{
        font-size: 1.8vw;
    }

    .button-primary{
        font-size: 1.9vw;
    }

    .button-secondary{
        font-size: 1.9vw;
    }

    .button-other{
        font-size: 1.9vw;
    }

    .hero{
        background-image: url("images/main-mobil.png");
        height: 90vw;
    }

    .hero-text{
        top: 50vw;
        margin-left: 9.4vw;
        width: 60%;
    }

    .hero-text h1{
        font-size: 3.4vw;
    }

    .hero-text p{
        font-size: 2.2vw;
    }

    .button-primary{
        height: 3.4vw;
        border-radius: 1.7vw;
        padding-left: 0.8vw;
        padding-right: 0.8vw;
    }

    .button-secondary{
        height: 3.4vw;
        border-radius: 1.7vw;
    }
}

@media (max-width: 400px){
    h1{
        font-size: 6vw;
        font-weight: bold;
    }
    
    h2{
        font-size: 5vw;
    }
    
    h3{
        font-size: 4.8vw;
    }
    
    p{
        font-size: 4vw;
    }

    .hero{
        background-image: url("images/main-mobil.png");
        height: 130vw;
    }

    .hero-text{
        top: 65vw;
        margin-left: 6.4vw;
        width: 80%;
    }

    .button-primary{
        height: 8vw;
        border-radius: 4vw;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        font-size: 4vw;
        outline-offset: 0.7vw;
        outline-width: 0.5vw;
    }

    .button-primary:hover{
        outline-offset: 1.4vw;
    }

    .button-secondary{
        height: 8vw;
        border-radius: 4vw;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        font-size: 4vw;
        outline-offset: 0.7vw;
        outline-width: 0.5vw;
    }

    .button-secondary:hover{
        outline-offset: 1.4vw;
    }

    .button-other{
        font-size: 4vw;
    }

    .hero-buttons{
        gap: 4vw;
    }
}